:root {
  --corPrimary: #0063a1;
}

body {
  font-family: "Poppins", sans-serif;
}

#name_icon {
  width: 20px;
}
#email_icon {
  width: 20px;
}
#phone_number_icon {
  width: 20px;
}
#nif_icon {
  width: 20px;
}
#username_icon {
  width: 20px;
}
#password_icon {
  width: 20px;
}
#mat1_icon {
  width: 20px;
}
#mat2_icon {
  width: 20px;
}
#mat3_icon {
  width: 20px;
}
#mat4_icon {
  width: 20px;
}
