:root {
  --corPrimary: #0063a1;
  --testeColor: #0091eb;
}

#logo {
  height: 45px;
}

.navbar {
  background-color: var(--corPrimary);
  font-family: "Aldrich";
}

.nav-link:hover {
  opacity: 0.4;
}

.nav-item {
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.dropdown {
  background-color: var(--corPrimary);
  font-family: "Aldrich", sans-serif;
  color: white;
}
