:root {
  --corPrimary: #0063a1;
}

#logo {
  width: 200px;
  height: 40px;
}

.navbar {
  background-color: var(--corPrimary);
  font-family: "Poppins", sans-serif;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-item {
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
}

.dropdown {
  background-color: var(--corPrimary);
  font-family: "Poppins", sans-serif;
  color: white;
}
